{
	"module": {
		"type": "commonjs"
	},
	"jsc": {
		"parser": {
			"syntax": "typescript",
			"decorators": true
		},
		"target": "es5",
		"baseUrl": ".",
		"paths": {
			"@copycord/gateway": ["src/index"]
		}
	}
}
